.switcher {
  position: relative;
  width: 90px;
  background: transparent;
}
.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.flag {
  padding: 2px;
  display: block;
  width: 90px;
  height: 44px;
  border: 2px solid var(--color-black);
  background-color: var(--light-grey);
  border-radius: 60px;
  transition: background 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.flag:before,
.flag:after {
  display: block;
  position: absolute;
  content: "";
}
.flag:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--white);
  border-radius: 60px;
  transition: background 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.flag:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 40px;
  background-color: var(--light-grey);
  border-radius: 52px;
  transition: margin 0.4s,
    background 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.active {
  border: 2px solid #a1005e !important;
  background: linear-gradient(to bottom, #a1005e 0%, #800080 100%) !important;
}
.active:before {
  background: var(--color-black) !important;
}
.active:after {
  margin-left: 43px;
  background: linear-gradient(to bottom, #a1005e 0%, #800080 100%) !important;
}
@media screen and (max-width: 567px) {
  .flag {
    width: 55px;
    height: 30px;
  }
  .flag:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 25px;
  }
  .active:after {
    margin-left: 22px;
  }
  .switcher {
    width: 55px;
  }
}
