
:root {
	--color-grey: slategray;
	--color-black: #222;
	--light-grey: #ddd;
	--white: #fff;
	--green: #8ce196;
	--blue: #00CCFF;
}

.blackColor {
	color: #222;
}

.greyColor {
	 color: #708090;
 }

.greyLight {
	color: #ddd;
}